body {
	background-color: black;
	background-image: url('./Images/popcornBG.jpeg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: red;
}

.results {
	margin-top: 20px;	
}

.row {
	display: flex;
}

.column {
	width: 100%;
	flex: 50%;
	padding: 5px;
}

.movies-container {
	flex: 50%;
}

.card-body {
	background-color: rgb(39, 101, 109);
}
.card-footer {
	background-color: rgb(39, 101, 109);
}
.release_date_button {
	background-color: silver;	
}

.add_button {
	background-color: rgb(12, 12, 107);
	color:azure;
}
